<%= form_for [@user, @question] do |form| %>

  <h4>Description:</h4>
  <div class="field">
    <%= form.text_field :title %>
  </div>

  <h5>Question:</h5>
  <div class="field">
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <small>
      <%= form.submit %>
    </small>
  </div>
<% end %>
