<div class="text-center">
  <h2>Question:</h2>
  <p><strong><%= @question.body %></strong></p>
  <h3>Submit Answer:</h3>

  <%= render 'form', locals: {answer: @question.answers.new} %>

  <%= link_to 'Back', user_question_path(@user, @question) %> |
  <%= link_to 'Home', root_path %>
</div>
