<h1>Editing Answer</h1>

<%= render 'form', answer: @answer %>

<%= link_to 'Show', user_question_answer_path(@user, @question, @answer) %> |
<%= link_to 'Back', user_question_answers_path(@user, @question) %>
